/* site.css*/

/*cambio de color al header*/ 
/*se puede concatenar las secciones a modificar*/
header, footer{

    background-color: rgb(255, 166, 0);
    border: solid 1px rgb(248, 22, 6);
}
/* po especificar algo en cada seccion*/
footer {
padding: 10px;

}

/* calsificacion de fonts a utilizar */
body {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 14px;

}

/* utilizacion de ID */
#descripcion {
border: solid 1px;
border-radius: 5px;
color: #202020;
/*margin: 5px
/*tambien puedo especificar el margen lado por lado*/
margin: 20px 0 20px 0;
}

/* Edicion por jerarquia*/

#descripcion > form > label {
font-weight: bold;
}
/*Edicion especifica*/

#descripcion input {
    width: 150px;
}
 